:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-whyte-color: #fff;
  --secondary-bgc: #2f303a;
  --section-bgc: #f5f5f5;
  --button-bgc: #188ce8;
}
body {
  background-color: var(--primary-whyte-color);
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
/* site nav */
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.link-head {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.link-head:hover,
.link-head:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--secondary-bgc);
}

.hero-title {
  color: var(--primary-whyte-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-whyte-color);
  cursor: pointer;
}
.button.primary {
  color: var(--primary-whyte-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background: var(--button-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button.secondary {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-whyte-color);
  background-color: var(--accent-color);
}
/* features */
.title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}
/* section */
.section.team {
  background-color: var(--section-bgc);
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Examples */
.work-list .title {
  color: var(--primary-text-color);
}
/* Our team */
.title-name {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-card {
  background-color: var(--primary-whyte-color);
}
/* Footer */
.address {
  font-style: normal;
}
.adress {
  color: var(--primary-whyte-color);
}
.footer {
  background-color: var(--secondary-bgc);
}
.footer > .logo {
  color: var(--primary-whyte-color);
}
/* portfolio */
.choice-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.choice-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  text-decoration: none;
}
.card {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.card-border {
  border: 1px solid #eeeeee;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
